/* Disable user selection */
.tab .text, .tab .icon img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

/* General container for tabs */
.tab_container {
	height: 33px;
	margin-top: 7px;
	background: #2a2a2a;
	display: flex;
}

/* Tab list styling */
.tab_list {
	height: 100%;
	padding-left: 10px;
	overflow-x: unset !important;
	overflow-y: unset !important;
	max-width: unset;
	position: relative;
	display: flex;
	white-space: nowrap;
	flex-grow: 1;
}

/* Individual tab styles */
.tab {
	height: 100%;
	display: inline-block;
	margin-left: -1px;
}
.tab .inner {
	height: 100%;
	transition: all 0.1s ease;
	border-radius: 10px 10px 0 0;
	padding: 7px 10px 5px 10px;
	position: relative;
	max-width: 260px;
	min-width: 220px;
	display: flex;
	padding-right: 30px;
}

/* Inactive tab borders */
.tab:not(.active_tab) .border_right,
.tab:not(.active_tab) .border_left {
	opacity: 1;
	height: 16px;
	width: 1px;
	background: #484a47;
	position: absolute;
	top: 56%;
	transform: translate(0, -50%);
	transition: all 0.1s ease;
}

/* Hide borders for active tabs */
.tab .active_tab .inner .border_right,
.tab .active_tab .inner .border_left {
	opacity: 0;
}

/* Specific border positioning */
.tab:not(.active_tab) .border_right {
	right: 0;
}
.tab:not(.active_tab) .border_left {
	left: 0;
}
.tab:first-child .border_left {
	opacity: 0; /* Hide left border for the first tab */
}

/* Hover effect for inactive tabs */
.tab:not(.active_tab):hover .inner {
	background: #353535;
	z-index: 50;
}

/* Radial gradient effects for hover */
.tab:not(.active_tab):hover .inner::before {
	background: -webkit-radial-gradient(
		0 0,
		circle,
		rgba(0, 0, 0, 0) 10px,
		#2a2a2a 11px /* TODO: Make it invisible, opacity: 0; */
	);
}
.tab:not(.active_tab):hover .inner::after {
	background: -webkit-radial-gradient(
		100% 0,
		circle,
		rgba(0, 0, 0, 0) 10px,
		#2a2a2a 11px /* TODO: Make it invisible, opacity: 0; */
	);
}

/* Inner tab decoration elements */
.tab .inner::before,
.tab .inner::after {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: 0;
}
.tab .inner::before {
	left: -10px;
}
.tab .inner::after {
	right: -10px;
}

/* Active tab styling */
.tab.active_tab .inner {
	background: #1e1e1e;
	z-index: 100;
}
.tab.active_tab .inner::before {
	background: -webkit-radial-gradient(
		0 0,
		circle,
		rgba(0, 0, 0, 0) 11px, /* 10px more roundy connection*/
		#1e1e1e 12px /* 11px */
	);
}
.tab.active_tab .inner::after {
	background: -webkit-radial-gradient(
		100% 0,
		circle,
		rgba(0, 0, 0, 0) 11px, /* 10px more roundy connection*/
		#1e1e1e 12px /* 11px */
	);
}

/* Text and icon inside tabs */
.tab .icon,
.tab .text {
	display: inline-block;
}
.tab .text {
	overflow: hidden;
	flex-grow: 1;
	font-size: 13.5px;
	padding-top: 1px;
	color: #ffffff;
}
.tab .icon {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 7px;
	padding-bottom: 3px;
}
.tab .icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* Active tab text styles */
.tab.active_tab .text {
	font-weight: bold;
	color: #ffffff;
}

/* Close tab button */
.close_tab {
	width: 30px;
	height: 22px;
	position: absolute;
	top: 8px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.tab.active_tab .close_tab,
.tab:hover .close_tab {
	opacity: 100;
}
.close_tab:hover {
	background: #444444;
	border-radius: 5px;
}

/* Tab Action Cluster */
.action_cluster {
	display: flex;
	position: relative;
	gap: 0px;
}
.action_cluster .add_tab,
.action_cluster .chevy_down {
	width: 30px;
	height: 22px;
	margin-top: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.action_cluster .add_tab {
	margin-left: 10px;
}
.action_cluster .add_tab:hover {
	background: #444444;
	border-radius: 5px 0 0 5px;
}
.action_cluster .chevy_down:hover {
	background: #444444;
	border-radius: 0 5px 5px 0;
}

/* Action Cluster divider */
.action_cluster .action_divider {
	height: 23px;
	width: 0.5px;
	background: #484a47;
	top: 20%;
	position: relative;
}

/* Tab animations */
.tab.closing_tab {
	animation: closeTab 0.1s ease forwards;
}
@keyframes closeTab {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.8);
	}
}
.tab.adding_tab {
	animation: addTab 0.2s ease forwards;
}
@keyframes addTab {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* TODO */
.rounded_square {
    position: absolute;
    margin-top: 35px;
    margin-left: 10px;
    width: 250px;
    height: 300px;
    background-color: #cccccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

