.nav_button {
    width: 30px;
    height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 6px;
    gap: 5px;
    transition: background 0.15s ease;
}

.nav_button:hover {
	background: #616161;
}
